
::-webkit-scrollbar {
  display: none;
  
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App{
  background-color: #0D0D0D;
  min-height: 100vh;
  height: 100%;
  padding-bottom: 10vh;
  
}

.header-section {
  max-height: 22vh;
  padding-top: 10vh;
  margin-left: 7vw;
  color: white;
}
.app-header{
display: flex;

}
.loading{
  position: relative;
  left: 40vw;
  top: 18vh;
  background-color: transparent;
  color: transparent;
  width: 20%;
  height: 20%;
}

.search-bar-container {
  display: flex;
  width: 60vw;
  height: 7vh;
  position: relative;
}

.search-input {
  padding-left: 20px;
  color:white ;
  border-color:#B4B4B4 ;
  width: 100%;
  height: 100%;
  border: 1px solid #B4B4B4; /* Border color */
  outline: none;
  background-color: transparent; 
  border-radius: 8px;
  transform: skewX(-32deg); /* Parallelogram shape */
}

.search-input::placeholder {
  color: white; /* Change the color of the placeholder text */
 
}

.search-button {
  position: relative;
  left: -10vw;
  bottom: -0.5vh;
  height: 7.2vh;
  outline: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  
}

.search-button:hover{
  transform: scale(1.1);
}
.search-button:active{
  transform: scale(0.8);
}
.navbar{
  padding-left: 14vw;
  display: flex;
  position: relative;
  bottom: -2.5vh;
  
}
.navbar >h3{
  padding-left: 2.5vw;
  font-family: 'Oswald';
  font-weight: 400;
  color: #B4B4B4;
  font-size: 1vw;
}
.header-line{
  width:90vw;
  position: relative;
  left: -1.8vw;
  top: 2vh;

}
.main-body{
  white-space: pre-line;
  margin: 5vw;
  padding: 20px;
  color: white;
  background-color: #181717;
  border-radius: 8px;

}
.dropdown{
  background-color:  #181717;
  color: white;
  margin: 5vw;
  padding: 20px;
  border-radius: 8px;
}

/* App.css */


.subtitle{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.subtitle button{
  margin-bottom: 16px;
  background-color: #2b2828;
  color: white;
  padding: 20px 50px;
  border-radius: 5px;
}
.subtitle button:hover{
  padding: 22px 51px;
}
